@charset "utf-8";
#root {
  /* padding: 55px 13px 0; */
  /* max-width: 392px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  padding: 55px 13px 60px;
  flex: 1;
  background-color: #F1F1F3;
}

:disabled {
  background-color: var(--gray100);
  color: var(--gray400);
  pointer-events: none;
}

.error {
  border: 1px solid var(--error) !important;
}

.errorMessage {
  margin-top: 4px;
  display: block;
  color: #dc3a3a;
  font-size: 12px;
}

/* 공통 - 여백 */
.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

/* 공통 - 배경색 */
.white-bg{
  background-color: #fff!important;
}

.btnBox {
  display: flex;
  gap: 0 12px;
}

.linkBtn {
  display: block;
  width: 100%;
  height: 46px;
  line-height: 46px;
  border-radius: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  background-color: #0F7685;
  color: #fff;
}

/* 폼 */
.inputButtonBox {
  position: relative;
}

.inputButtonBox .button {
  width: 60px;
  height: 30px;
  line-height: 28px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  color: #767676;
}

.disabled{display: none;}