.alarmBox {
  margin-top: -30px;
}

.alarmBox .alarmList .box {
  display: flex;
  align-items: center;
  padding: 18px 0;
}

.alarmBox .alarmList .box .textBox {
  padding-left: 60px;
}

.alarmBox .alarmList .box .textBox h2 {
  margin-bottom: 7px;
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.alarmBox .alarmList .box .textBox span {
  display: block;
  margin-bottom: 7px;
  font-size: 13px;
  color: #000;
}

.alarmBox .alarmList .box .textBox .date {
  display: block;
  font-size: 10px;
  color: #696969;
}

.alarmBox .alarmList .box .imgBox {
  position: absolute;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #EEECED;
}

.alarmBox .alarmList .box .imgBox img {
  display: block;
}

.alarmBox .alarmList .noResult {
  font-weight: 500;
  color: #696969;
}

.alarmBox .viewBtnBox {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.alarmBox .viewBtnBox .viewBtn {
  width: 100%;
}

.alarmBox .viewBtnBox .viewBtn span {
  position: relative;
  padding-right: 15px;
  font-size: 13px;
  color: #000;
}

.alarmBox .viewBtnBox .viewBtn span::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 11px;
  height: 5px;
  background: url(/assets/images/sub/arrow_icon03.svg)no-repeat center;
}

.alarmBox .filterLinkBox {
  margin-bottom: 17px;
  display: flex;
  justify-content: flex-end;
}

.alarmBox .filterLinkBox .filterLink {
  display: flex;
  align-items: center;
  gap: 0 4px;
  font-size: 20px;
  font-weight: 700;
  color: #646368;
}

.alarmBox .filterLinkBox .filterLink::after {
  content: '';
  margin-top: 2px;
  width: 16px;
  height: 18px;
  background: url(/assets/images/common/filter_icon.svg)no-repeat center;
}

.alarmBox .filterLinkBox .filterLink.filterDel::after {
  content: '';
  margin-top: 2px;
  width: 18px;
  height: 18px;
  background: url(/assets/images/common/filter_icon02.svg)no-repeat center;
}

.alarmBox .filterBox {
  margin-bottom: 20px;
  padding: 17px 10px 26px 26px;
  background-color: #fff;
  border-radius: 20px;
}

.alarmBox .filterBox h2 {
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.alarmBox .filterBox .inputRadioBox label {
  position: relative;
  padding-left: 21px;
}

.alarmBox .filterBox label {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.alarmBox .filterBox input[type="checkbox"]+label::before {
  width: 15px;
  height: 15px;
}

.alarmBox .filterBox .inputRadioBox .box {
  margin-bottom: 15px;
}

.alarmBox .filterBox .inputRadioBox .box:last-child {
  margin-bottom: 0;
}

.alarmBox .filterBox .inputRadioBox label::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-46%);
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #a4a4a4;
}

.alarmBox .filterBox .inputRadioBox input:checked+label::before {
  border: 0;
  width: 15px;
  height: 15px;
  background: url(/assets/images/sub/chk_icon02.svg)no-repeat center;
  background-size: contain !important;
}

.alarmBox .filterBox .layoutBox {
  display: flex;
  gap: 20px 0;
  flex-wrap: wrap;
}

.alarmBox .filterBox .layoutBox div {
  width: 50%;
}

.box.new {
  background: #C4D8DD;
}

