.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  padding: 29px 0;
  font-weight: 500;
  color: #4E4D52;
}

.header button {
  display: block;
}

.header .dateBox {
  display: flex;
  align-items: center;
  gap: 0 7px;
}

.header .dateBox::after {
  content: '';
  margin-top: 2px;
  width: 9px;
  height: 6px;
  background: url(/assets/images/sub/select_arrow_icon.svg) no-repeat center;
  transform: rotate(180deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
  width: 100%;
  background: white;
  border-radius: 12px;
  padding: 16px 40px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.pickerContainer {
  display: flex;
  justify-content: space-between;
  height: 180px;
  overflow: hidden;
  position: relative;
}

.pickerColumn {
  flex: 1;
  text-align: center;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.pickerColumn::-webkit-scrollbar {
  display: none;
}

.pickerItem {
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 18px;
  color: #DDDDDF;
  user-select: none;
  scroll-snap-align: center;
}

.pickerItem.selected {
  color: black !important;
  font-weight: bold;
  font-size: 22px;
}


.spacer {
  height: 70px;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer button {
  position: relative;
  display: block;
  width: 100%;
  height: 76px;
  text-align: center;
  font-weight: 700;
  color: #000;
}

.footer button::after {
  content: '';
  margin-top: -6.5px;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 15px;
  background-color: #E9E9EB;
}

.footer button:last-child:after {
  display: none;
}